.wrapper {
    padding: 20px;
    width: 320px;
    height: 171px;
    cursor: pointer;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.avatar {
    width: 44x;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn {
    padding: 6px 8px;
}
.body {
    margin-top: 12px;
    color: #161823;
}
.nickname {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
}
.check {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
    margin-left: 4px;
}
.name {
    font-weight: 600;
    font-size: 1.4rem;
}
.analytics {
    margin-top: 8px;
    font-size: 1.8rem;
}
.value {
    margin-right: 6px;
}
.label {
    color: #50525a;
    margin-right: 12px;
}
